In [5]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [6]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [7]:
sec_data.tail()

                    PG      BEI.DE
Date
2021-08-16  144.639999  105.699997
2021-08-17  144.880005  105.650002
2021-08-18  143.300003  105.000000
2021-08-19  144.990005  105.199997
2021-08-20  145.529999  105.150002

In [8]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [9]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2021-08-16  0.006938 -0.004248
2021-08-17  0.001658 -0.000473
2021-08-18 -0.010965 -0.006171
2021-08-19  0.011724  0.001903
2021-08-20  0.003717 -0.000475

[3685 rows x 2 columns]

# PG

In [10]:
sec_returns['PG'].mean()

0.000338312428556708

In [11]:
sec_returns['PG'].mean() * 250

0.08457810713917699

In [12]:
sec_returns['PG'].std()

0.011783806423716363

In [13]:
sec_returns['PG'].std() * 250 ** 0.5

0.1863183390273345

# Beiersdorf

In [14]:
sec_returns['BEI.DE'].mean()

0.00024217440679083922

In [15]:
sec_returns['BEI.DE'].mean()*250

0.0605436016977098

In [16]:
sec_returns['BEI.DE'].std()

0.013760909882752774

In [17]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21757908952909683

In [18]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.08457810713917699
0.0605436016977098

In [19]:
#ALternative
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.084578
BEI.DE    0.060544
dtype: float64

In [20]:
sec_returns[['PG','BEI.DE']].std() * 250 ** 0.5

PG        0.186318
BEI.DE    0.217579
dtype: float64

## Calculating Covariance and Correlation

In [21]:
PG_var = sec_returns['PG'].var()
PG_var

0.00013885809383161902

In [22]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018936264080124295

In [23]:
PG_var_a = sec_returns['PG'].var() *250
PG_var_a

0.03471452345790475

In [24]:
BEI_var_a = sec_returns['BEI.DE'].var() *250
BEI_var_a

0.04734066020031074

In [25]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000139  0.000044
BEI.DE  0.000044  0.000189

In [26]:
cov_mat_a = sec_returns.cov() * 250
cov_mat_a

              PG    BEI.DE
PG      0.034715  0.010920
BEI.DE  0.010920  0.047341

In [27]:
corr_matrix = sec_returns.corr() #Correlation between returns not price, don't annualize this
corr_matrix

              PG    BEI.DE
PG      1.000000  0.268974
BEI.DE  0.268974  1.000000

## Calculating portfolio risk

In [28]:
import numpy as np
import pandas as pd

In [29]:
weights = np.array([0.5,0.5])

### Portfolio Variance

In [31]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))  #(a.B)^2 = aT B a
pfolio_var

0.025973626702642125

### Portfolio Volatility

In [33]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.16116335409342325

In [35]:
print (str(round(pfolio_vol, 5) * 100) + '%')

16.116%

## Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

In [36]:
weights = np.array([0.5,0.5])

### Diversifiable Risk (Unsystematic Risk)

In [40]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03471452345790475

In [41]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04734066020031074

#### Diversifiable risk = portfolio variance - weighted annual variances

In [42]:
dr = pfolio_var - (weights[0]**2 * PG_var_a) - (weights[1]**2 * BEI_var_a)
dr

0.0054598307880882515

In [43]:
print(str(round(dr*100,3))+'%')

0.546%

### Non-diversifiable risk (systematic risk)

In [44]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.02051379591455387

In [45]:
n_dr_2 = (weights[0]**2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a)
n_dr_2

0.02051379591455387

In [46]:
n_dr_1 == n_dr_2

True